*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', 'sans-serif';
}
body{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #d2bcf5;
}

.center-container-wrapper{
    width:55%;
    height:55%;
    display:inline-flex;
    box-shadow:0px 0px 10px 4px rgb(209, 110, 255);
    border-radius: 5px;
    margin:auto;
    position: relative;
    justify-self: center;
    background-color: #ffffff;
    
}
.center{
    width:100%;
    height:100%;
    padding: 1rem 2rem 3rem 2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;

}
h1, p{
    display: inline-flex;
    justify-content: center;
    align-items: center;

}
h1{
    margin:auto auto 0 auto;
    line-height:1;
    color:#8b45fc;
    text-align:center;
}
p{
    margin:0 auto 0 auto;
    color:#100029;
    text-align:center;
}
.input-wrapper{
    margin:10px auto 10px auto;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.username{
    padding:2px;
    border:1px solid lightgrey;
    border-radius:2px;
    align-items: right;
    width:200px;
    margin-left:5px;
}
.password{
    padding:2px;
    border:1px solid lightgrey;
    border-radius:2px;
    align-items: right;
    width:200px;
    margin-left:5px;

}
button{
    border:1px solid lightgrey;
    height:fit-content;
    width:fit-content;
    padding:6px 12px 6px 12px;
    margin:10px auto 10px auto;
    cursor:pointer;
}

a{
    margin:0 auto auto auto;
    width:fit-content;
    text-decoration: none;
    color:#8b45fc;
    cursor:pointer;
}

a:hover{
    color:#bb92fd

}

#create  #button{
    margin: 10px auto auto auto;
}